<div id="about">
    <div>
        <h2>About</h2>
        <p>This site uses the Co-WIN public API to fetch information about available slots.</p>
    </div>
    <div>
        <h2>Privacy policy</h2>
        <p>We only store your email address. The information will not be used for any purpose other than to send you email updates. We delete all personal information stored with us when you unsubscribe. We will delete all personal information on May 31,
            2022.
        </p>
    </div>
</div>