<div class="booking-image">
    <img class="booking-img" src="public/images/homebg.jpeg" alt="Booking Image">
</div>
<div class="booking-form central-content">
    <div id="booking-form" class="login-form">
        <h2>From the money you donate, we will use the bare minimum to keep this app running. The rest will be donated to the CMDRF</h2>
        <div class="login-container">
            <form>
                <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HEIyMEo4zkZVLC" async>
                </script>
            </form>
        </div>
    </div>
</div>