<div class="booking-image">
    <img class="booking-img" src="public/images/homebg.jpeg" alt="Booking Image">
</div>
<div class="booking-form central-content">
    <form id="unsubscribe-form" class="login-form">
        <h2>Thank You for supporting us. From the money you donate, we will use the bare minimum to keep this app running. The rest will be donated to the CMDRF</h2>
    </form>
</div>