<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vaccine Undo</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="public/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/extra-style.css">
</head>

<body>

    <div class="main">
        <header>
            <span id="header-vaccine">vaccine</span>
            <span id="header-undo">ഉണ്ടോ</span>
        </header>
        <div class="container">
            <div class="booking-content">
                <%- body %>
            </div>
            <footer>
                <% if(about === true){ %>
                    <span><a href="/">Take Me Home</a></span>
                    <% } else{ %>
                        <span><a href="/about">About and Privacy Policy</a></span>
                        <% } %>
                            <span><a href="/donate">Donate to us</a></span>
                            <span><a href="/unsubscribe-view">Unsubscribe</a></span>
                            <span>By <a href="https://www.linkedin.com/in/saurav-s-b-b3057470">Saurav</a> and <a href="https://www.linkedin.com/in/adarsh-vijay-05a697176/">Adarsh</a></span>
            </footer>
        </div>
    </div>

    <!-- JS -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="public/js/main.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="public/js/custom.js"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>