<div class="booking-image">
    <img class="booking-img" src="public/images/homebg.jpeg" alt="Booking Image">
</div>
<div class="booking-form central-content">
    <form id="unsubscribe-form" class="login-form">
        <h2>You have successfully unsubscribed from any notifications from vaccineUndo. You will not receive any more emails regarding the same.</h2>
    </form>
</div>