<div class="booking-image">
    <img class="booking-img" src="public/images/homebg.jpeg" alt="Booking Image">
</div>
<div class="booking-form central-content">
    <form id="unsubscribe-form" class="login-form" action="/unsubscribebymail">
        <h2>Unsubscribe from our mailing list</h2>
        <div class="form-group form-input">
            <input type="text" name="mail" id="email-input">
            <label for="name" class="form-label">Email</label>
        </div>
        <div class="form-submit flex-center">
            <input type="submit" value="Unsubscribe" class="submit" id="submit" name="submit" />
        </div>
    </form>
</div>