@font-face {
    font-family: 'Manjari-Bold';
    font-style: bold;
    font-weight: 900;
    src: url("../fonts/Manjari/Manjari-Bold.ttf");
}

@font-face {
    font-family: 'Manjari-Regular';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Manjari/Manjari-Regular.ttf");
}

@font-face {
    font-family: 'Manjari-Thin';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Manjari/Manjari-Thin.ttf");
}

.notification {
    color: black;
    margin: 0 auto;
    padding: 10px;
}

.popup {
    width: 25%;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 35%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
}

#popup {
    display: none;
}

.popup-encloser {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
}

.popup h2 {
    color: black;
}

.popup button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: orange;
    color: white;
}

.popup button:hover {
    cursor: pointer;
}

select:hover option {
    color: black;
}

header span {
    font-size: 40px;
    font-weight: 100;
    padding-top: 5px;
    font-family: Manjari;
    color: black;
}

#header-undo {
    font-family: Manjari;
    font-weight: 900;
}

header {
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    padding-left: 25px;
    width: 900px;
}

@media screen and (max-width: 1200px) {
    header {
        width: calc(100vw - 25px);
    }
}