<div class="booking-image">
    <img class="booking-img" src="public/images/homebg.jpeg" alt="Booking Image">
</div>
<div class="booking-form">
    <form id="booking-form">
        <h2>We'll send you an email once the vaccine is available.</h2>
        <div class="form-group form-input">
            <input type="text" name="mail" id="email-input" value="" required/>
            <label for="name" class="form-label">Email</label>
        </div>
        <!-- <div class="form-group form-input">
            <input type="number" name="phone" id="phone" value="" required />
            <label for="phone" class="form-label">Your phone number</label>
        </div> -->

        <div class="form-group">
            <div class="select-list">
                <select name="code" id="district-input" required>
                    <option value="">District</option>
                    <option value="Alappuzha">Alappuzha</option>
                    <option value="Ernakulam">Ernakulam</option>
                    <option value="Idukki">Idukki</option>
                    <option value="Kannur">Kannur</option>
                    <option value="Kasaragod">Kasaragod</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Kottayam">Kottayam</option>
                    <option value="Kozhikode">Kozhikode</option>
                    <option value="Malappuram">Malappuram</option>
                    <option value="Palakkad">Palakkad</option>
                    <option value="Pathanamthitta">Pathanamthitta</option>
                    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                    <option value="Thrissur">Thrissur</option>
                    <option value="Wayanad">Wayanad</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="select-list">
                <select name="age" id="age-input" required>
                    <option value="">Age Group</option>
                    <option value="18">18+</option>
                    <option value="45">45+</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-radio">
            <label class="label-radio"> Select Your Age Group</label>
            <div class="radio-item-list">
                <span class="radio-item">
                    <input type="radio" name="number_people" value="2" id="number_people_2" />
                    <label for="number_people_2">18+</label>
                </span>
                <span class="radio-item active">
                    <input type="radio" name="number_people" value="4" id="number_people_4" checked="checked" />
                    <label for="number_people_4">45+</label>
                </span>
                <span class="radio-item">
                    <input type="radio" name="number_people" value="6" id="number_people_6" />
                    <label for="number_people_6">6</label>
                </span>
                <span class="radio-item">
                    <input type="radio" name="number_people" value="8" id="number_people_8" />
                    <label for="number_people_8">8</label>
                </span>
                <span class="radio-item">
                    <input type="radio" name="number_people" value="10" id="number_people_10" />
                    <label for="number_people_10">10</label>
                </span>
            </div>
        </div> -->

        <div class="form-submit">
            <input type="submit" value="Subscribe" class="submit" id="submit" name="submit" />
            <a href="https://mail.google.com/" class="vertify-booking">Verify your booking info from your email</a>
        </div>
    </form>
</div>
<div id="popup" class="popup-encloser">
    <div class="popup">
        <h2>Verification Email Sent</h2>
        <p>A verification email has been sent to your email account. Please click on the link in the email to start receiving updates from us.</p>
        <button id="popup-close" onclick="togglePopup()">close</button>
    </div>
</div>